
.carousel-inner img {
    height: 150px; 
    object-fit: cover;
}

ul li {
    padding: 4px;
    list-style: none;
}

.navbar-nav .nav-link {
    transition: all 0.3s ease-in-out; 
}

.navbar-nav .nav-link:hover {
    background-color: #007bff; 
    color: white; 
    border-color: #007bff; 
}

footer a {
    text-decoration: none;
}

footer a img {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

footer a:hover img {
    transform: scale(1.2);
    filter: brightness(0) saturate(100%) invert(48%) sepia(93%) saturate(500%) hue-rotate(180deg);
}


